<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<<<<<<<< HEAD:backend/trade/src/main/resources/mapper/ReturnRequestMapper.xml
<mapper namespace="com.trade.demo.mapper.ReturnRequestMapper">
========
<mapper namespace="com.trade.demo.mapper.IsReturnedMapper">
>>>>>>>> dbc29ad74aa4d65a220d8274d782e4bcbe358f3a:backend/trade/src/main/resources/mapper/IsReturnedMapper.xml


</mapper>